@import "../../../scss/libs/variables";
.buttonStyle {
  background: $mainColor;
  cursor: pointer;
  padding: 10px 30px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  height: 100%;
  color: black;

  @media only screen and (min-width: 768px) {
    &:hover {
      background: white;
    }
  }
}
.buttonContainer {
  & span {
    width: 20px !important;
    height: 20px !important;
  }
}

.buttonDisabled {
  pointer-events: none;
  background: gray;
}
