.newsfeed {
  margin: 160px 0 0 0;

  @media (max-width: 767px) {
    margin: 130px 0 0 0;
  }
}
.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}
.newsfeedWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 50px 0;
}

.filtersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin: 0 0 50px 0;

  @media (max-width: 767px) {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.postLoadingContainer {
  // margin-top: 120px;
  text-align: center;
  padding: 20px;

  & svg {
    color: rgb(57, 241, 152) !important;
  }
}
.observerLoadingContainer {
  text-align: center;

  & img {
    height: 100px;
  }
}
